.name {
    position:absolute;
    magin-left : 5rem;
    font-size: 1rem;
    left:25%;
}

.btn {
    border:1px solid rgba(52, 152, 219, 0.8);
    text-decoration: none;
    background-color: rgba(52,152,219,0.8);
    font-size:1.5rem;
    color:#ffffff;
    margin-left : 100px;
    margin-top : 20rem;
    padding-left:1rem;
    padding-right:1rem;
}